In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#para que aparezcan todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
#parse_dates para mantener el formato fecha modificado anteriormente.
#para evitar que se deshaga el cambio, se puede guardar el parquet o pickle en lugar del original csv
customer_details_limpio_o= pd.read_csv('output/customer_details_limpio.csv', parse_dates=['dt_customer'])
customer_details_limpio_o.sample(5)

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id
4831,48714,0,0,2012-07-12,19,fabd7e0a-099f-46af-8aff-45030c046f39
8074,36409,0,1,2012-08-20,11,5b50b4f2-2210-4648-b891-54277c03a8f6
33756,164063,1,2,2014-07-30,17,78c334c8-dfc1-417e-b492-a0c18bd64f89
31840,116488,0,2,2014-09-12,29,a4f80436-b3c4-43ea-a2b2-93754c7dc5c4
21722,83774,2,0,2013-06-02,19,7ce0bde1-552e-48b1-81da-0195e5a11348

In [7]:
customer_details_limpio=customer_details_limpio_o.copy()
customer_details_limpio.sample(5)

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id
33976,132876,0,1,2014-12-15,5,6b73c56e-6b4f-4064-b87c-2a7dd7232d6c
32176,171718,0,0,2014-06-10,16,484ff6cc-68c4-4bea-b11f-5f3e159f7374
11324,162462,1,0,2012-09-11,10,c7d2f98d-87a7-47d9-8b83-89e9a1cdd7e2
36676,12562,1,0,2014-07-26,8,5775789d-077e-414e-8adc-33498d4f10d4
37517,170696,1,0,2014-02-08,19,92da8968-24ac-473e-9058-b3a6d267e8f3

In [8]:
print(customer_details_limpio.dtypes)

income                        int64
kidhome                       int64
teenhome                      int64
dt_customer          datetime64[ns]
numwebvisitsmonth             int64
id                           object
dtype: object

In [11]:
nulos = customer_details_limpio.isnull().sum()
nulos

income               0
kidhome              0
teenhome             0
dt_customer          0
numwebvisitsmonth    0
id                   0
dtype: int64

no hay nulos, no hace falta sustituir nada

In [12]:
#exportamos, est√° limpio
#importado para poder guardar en C
import os

In [13]:
#codigo para para poder crear el documento en C
os.makedirs("output", exist_ok=True)
customer_details_limpio.to_csv("output/customer_details_limpio_sin_nulos.csv", index=False)